[Desktop Entry]
Name=Phone Files
Comment=Browse the moto g13's storage
Exec=@BINDIR@/phone-files
Icon=phone
Terminal=false
Type=Application
Categories=Utility;
